{% extends  '_base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block page_title %}
	لیست کتاب ها
{% endblock %}

{% block content %}
    {% for book in book_list %}
    	<h3>{{ book.title }}</h3>
    	<p>{{ book.description }}</p>
        <a href="{{book.get_absolute_url}}" class="btn btn-sm btn-success">ادامه مطلب</a>

        <a href="{% url 'book_create' %}" class="btn btn-sm btn-success">کتاب جدید</a>
        <a href="{% url 'book_update' book.id %}" class="btn btn-sm btn-warning">ویرایش کتاب</a>

    {% endfor %}
    
{% endblock content %}




